
.read-time {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    text-align: center;
}

.read-time p{
    color: rgba(96, 71, 236, 1);
    font-weight: 700;
}


.bookmarked-blogs{
    background-color: rgba(17, 17, 17, 0.05);
    padding: 5%;
    border-radius: 8px;
    margin-top: 30px;
}

.bookmarked-blogs p{
    font-size: 20px;
    font-weight: 700;
}


.single-cart{
    padding: 1% 2%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}