

.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 5%;
}
.bookmark-container{
    margin-top: 9%;
}



@media only screen and (max-width: 600px) {
    .main-container{
        grid-template-columns: 1fr;
    }
}